.nav-color {
  background-color: #31a0da;
  position: fixed;
  width: 100%;
  z-index: 40;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
  padding: 1.3em;
  max-width: 100%;
  margin: auto;
  margin-left: 6rem;
}
.nav-logo {
  height: 4em;
  width: 4em;
  margin-right: 6rem;
}

.navlink-burger {
  visibility: hidden;
}
.navlink-burger {
  padding: 7px;
}

.bar {
  height: 3px;
  width: 30px;
}
.nav-logo {
  height: 4.7em;
  width: 3.5em;
}
.burger-menu-slider {
  top: 0;
  left: 0;
  opacity: 90%;
  width: 100%;
}
.burger-link:hover {
  padding: 0.6em;
  background-color: rgba(255, 255, 255, 0.066);
}

@media (max-width: 500px) {
  .navbar-container {
    margin-left: 0.1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navlinks-container {
    visibility: hidden;
  }

  .navlink-burger {
    visibility: visible;
  }
  .nav-logo {
    height: 3.2em;
    width: 2.5em;
  }
}