* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar a {
  cursor: pointer;
}

.navbar-container {
  @keyframes identifier {
    from {top: 0px }
  }
  background-image: linear-gradient(90deg, #31a0da 63%, rgb(255, 255, 255) 44%);;
}

.heroBg {
  background-image: linear-gradient(90deg, #31a0da 63%, rgb(255, 255, 255) 44%);
}

.mockupBanner {
  background-image: url('./assets/PNG/birdMockup.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 34em;
  width: 42em;
  margin-left: 2em;
  
}

.textBox {
  width: 24em;
  margin-left: 5em;
}

.videoBox {
  height: 31em;
  width: 31em;
  margin-left: -2.2em;
}

.mainVideo {
  margin: auto;
}

.wwdContainer {
  height: 20em;
  width: 85%;
  margin: auto;
}

.wwd-pic{
  height: 20em;
  width: 20em;
}

.mainColor {
  color: #7EB928;
}

.wwa-container {
  height: 30em;
}

.ceo-msg-content {
  width: 30em;
}

.ceo-img-box {
  background-image: url('./assets/PNG/ceoImgMockup.png');
  background-repeat: no-repeat;
}


.wwo-content {
  width: 45em;
}

.ceo-title {
  background-color: #b2b2b2;
}

.partnerIcon {
  height: 4.8em;
}

.footer {
  background-color: #1B90D2;
}

.support-links a{
  color: white;
  font-weight: 200;
}