* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar a {
  cursor: pointer;
}

.heroBg {
  background-image: linear-gradient(90deg, #31a0da 63%, rgb(255, 255, 255) 44%);
}

.mockupBanner {
  background-image: url('./assets/PNG/birdMockup.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 34em;
  width: 42em;
  margin-left: 2em;
  
}

.textBox {
  width: 24em;
  margin-left: 5em;
}

.videoBox {
  height: 31em;
  width: 31em;
  margin-left: -2.2em;
}

.mainVideo {
  margin: auto;
}